<a href="https://colab.research.google.com/github/nupur-khare/Sqlalchemy_python/blob/main/Sqlalchemy_python_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Sequence, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.24)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [10]:
db_url = "sqlite:///xyz.db"

engine = create_engine(db_url, echo=True)

Base = declarative_base()

class Employee(Base):
    __tablename__ = 'employees'

    id = Column(Integer, Sequence('user_id_seq'), primary_key=True)
    name = Column(String(50))
    role = Column(String(50))
    salary = Column(Integer)

Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

employee_data = [
    (101, "Nupur Khare", "Data Engineer", 900000),
    (102, "Ria Sharma", "Software Engineer", 1000000),
    (103, "Aditya K", "Platform Engineer", 1800000),
    (104, "Shubhi Das", "Solutions Architect", 2500000),
    (105, "John Doe", "System Engineer", 600000),
    (106, "Rishi S", "System Engineer", 500000),
    (107, "Suman K", "Platform Engineer", 2900000),
    (108, "Zain C", "Data Engineer", 1700000),
    (109, "Yuzi L", "Software Engineer", 1300000),
    (110, "Krish N", "Solutions Architect", 2900000)
]

for data in employee_data:
    employee = Employee(id=data[0], name=data[1], role=data[2], salary=data[3])
    session.add(employee)

session.commit()

average_salary_per_role = session.query(Employee.role, func.avg(Employee.salary).label('average_salary')).group_by(Employee.role).all()

# Convert the result to a DataFrame
columns = ['Role', 'Average Salary']
df_average_salary = pd.DataFrame(average_salary_per_role, columns=columns)

# Query all employees
all_employees = session.query(Employee).all()

# Convert employee data to a DataFrame
df_employees = pd.DataFrame([(employee.id, employee.name, employee.role, employee.salary) for employee in all_employees],
                             columns=['ID', 'Name', 'Role', 'Salary'])

# Merge the two DataFrames on the 'Role' column
df_combined = pd.merge(df_employees, df_average_salary, on='Role')

# Print the combined DataFrame
print("\nCombined DataFrame - Employee Data with Average Salary per Role:")
print(df_combined)

# Close the session
session.close()

2024-01-21 11:15:01,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)

<ipython-input-10-f485d94577cb>:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-01-21 11:15:01,188 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("employees")

2024-01-21 11:15:01,191 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-01-21 11:15:01,195 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("employees")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("employees")

2024-01-21 11:15:01,198 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-01-21 11:15:01,202 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	role VARCHAR(50),
	salary INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE employees (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	role VARCHAR(50),
	salary INTEGER,
	PRIMARY KEY (id)
)

2024-01-21 11:15:01,204 INFO sqlalchemy.engine.Engine [no key 0.00275s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00275s] ()

2024-01-21 11:15:01,220 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-01-21 11:15:01,227 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-01-21 11:15:01,232 INFO sqlalchemy.engine.Engine INSERT INTO employees (id, name, role, salary) VALUES (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO employees (id, name, role, salary) VALUES (?, ?, ?, ?)

2024-01-21 11:15:01,235 INFO sqlalchemy.engine.Engine [generated in 0.00335s] [(101, 'Nupur Khare', 'Data Engineer', 900000), (102, 'Ria Sharma', 'Software Engineer', 1000000), (103, 'Aditya K', 'Platform Engineer', 1800000), (104, 'Shubhi Das', 'Solutions Architect', 2500000), (105, 'John Doe', 'System Engineer', 600000), (106, 'Rishi S', 'System Engineer', 500000), (107, 'Suman K', 'Platform Engineer', 2900000), (108, 'Zain C', 'Data Engineer', 1700000), (109, 'Yuzi L', 'Software Engineer', 1300000), (110, 'Krish N', 'Solutions Architect', 2900000)]

INFO:sqlalchemy.engine.Engine:[generated in 0.00335s] [(101, 'Nupur Khare', 'Data Engineer', 900000), (102, 'Ria Sharma', 'Software Engineer', 1000000), (103, 'Aditya K', 'Platform Engineer', 1800000), (104, 'Shubhi Das', 'Solutions Architect', 2500000), (105, 'John Doe', 'System Engineer', 600000), (106, 'Rishi S', 'System Engineer', 500000), (107, 'Suman K', 'Platform Engineer', 2900000), (108, 'Zain C', 'Data Engineer', 1700000), (109, 'Yuzi L', 'Software Engineer', 1300000), (110, 'Krish N', 'Solutions Architect', 2900000)]

2024-01-21 11:15:01,240 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-01-21 11:15:01,253 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-01-21 11:15:01,257 INFO sqlalchemy.engine.Engine SELECT employees.role AS employees_role, avg(employees.salary) AS average_salary
FROM employees GROUP BY employees.role

INFO:sqlalchemy.engine.Engine:SELECT employees.role AS employees_role, avg(employees.salary) AS average_salary
FROM employees GROUP BY employees.role

2024-01-21 11:15:01,260 INFO sqlalchemy.engine.Engine [generated in 0.00297s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00297s] ()

2024-01-21 11:15:01,275 INFO sqlalchemy.engine.Engine SELECT employees.id AS employees_id, employees.name AS employees_name, employees.role AS employees_role, employees.salary AS employees_salary
FROM employees

INFO:sqlalchemy.engine.Engine:SELECT employees.id AS employees_id, employees.name AS employees_name, employees.role AS employees_role, employees.salary AS employees_salary
FROM employees

2024-01-21 11:15:01,283 INFO sqlalchemy.engine.Engine [generated in 0.00893s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00893s] ()

Combined DataFrame - Employee Data with Average Salary per Role:
    ID         Name                 Role   Salary  Average Salary
0  101  Nupur Khare        Data Engineer   900000       1300000.0
1  108       Zain C        Data Engineer  1700000       1300000.0
2  102   Ria Sharma    Software Engineer  1000000       1150000.0
3  109       Yuzi L    Software Engineer  1300000       1150000.0
4  103     Aditya K    Platform Engineer  1800000       2350000.0
5  107      Suman K    Platform Engineer  2900000       2350000.0
6  104   Shubhi Das  Solutions Architect  2500000       2700000.0
7  110      Krish N  Solutions Architect  2900000       2700000.0
8  105     John Doe      System Engineer   600000        550000.0
9  106      Rishi S      System Engineer   500000        550000.0
2024-01-21 11:15:01,347 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK